@use 'variaveis';
@use 'hero';
@use 'footer';


@font-face {
    font-family: Dollie;
    src: url(../../assets/font/DollieScript.ttf);    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dollie, sans-serif;
    list-style: none;    
}


@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTxtPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);    
}



h1, h2, h3 {
    font-family: Dollie, sans-serif;
    color: variaveis.$corTxtPrincipal;
    -webkit-text-stroke: .11px variaveis.$corBorda;
}

header {
    text-align: center;
}

body {
    background-color: variaveis.$corFundo;
}



.text--small {
    @include text(12px);
    font-family: Arial, Helvetica, sans-serif;

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.link-text {
    @include text(18px);
    
    text-decoration: underline;
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

.img-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &__text_container { 
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--img-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text_container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw); 
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}
.gallery {
    margin-left: 16px;

        h2 {
            padding-left: 55px;
            padding-bottom: 18px;
            font-size: 35px;

        }
        

        div.gallery {
            margin: 5px;
            float: left;
            width:100%;
            padding-left: 32px ;
            display: flex;     
            

            img {
                width: 100%;
                height: auto;
                padding: 8px;  
                
                &:hover {
                    border-color: 5px solid #fff;
                }
        }
    }
}